:host {
    --content-padding: 10px;
  }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B87070;
  }

  .content {
    padding: var(--content-padding);
  }

  .btn-div button {
    margin-left: 8px;
    color: white;
  }

  .btn-div a {
    margin-left: 8px;
    color: white;

  }
  
  .login-div button {
    color: white;
  }