:host {
    --content-padding: 10px;
  }
  header {
    display: block;
    color: white;
    background-color: #B87070;
  }
  .content {
    padding: var(--content-padding);
  }
  mat-button-toggle-group {
    /* display: inline-flex; */
    border: none;
    
    /* justify-content: center; */
  }
  mat-button-toggle {
    border: none;
    border-left: none;
    background-color: #B87070;
    color: white;
  }